body{
	overflow-x:hidden;
}


.grids-first{
	/*background:linear-gradient(white,blue);*/
	width:100%;
	height:20%;
	margin:0px;
	padding:0px;

}

.grid-first-one{
	position:absolute;
	/*background:linear-gradient(white,blue);
	opacity:0.3;*/
	top:0;
	left:0;
	background:url("test.png");
	/*background-color:white;*/
	border:0.1px solid grey;
}

.grid-first-two{
	position:absolute;
	/*background:linear-gradient(white,blue);*/
	top:20%;
	left:0;
	/*opacity:0.3;*/
	background:url("test.png");
	background-position: 0% 21%;
	/*background-color:white;*/
	border:0.1px solid grey;
}

.grid-first-three{
	position:absolute;
	/*background:linear-gradient(white,blue);*/
	top:40%;
	left:0;
	/*opacity:0.3;*/
	background:url("test.png");
	background-position: 0% 42%;
	/*background-color:white;*/
	border:0.1px solid grey;
}

.grid-first-four{
	position:absolute;
	/*background:linear-gradient(white,blue);*/
	top:60%;
	left:0;
	/*opacity:0.3;*/
	background:url("test.png");
	background-position: 0% 63%;
	/*background-color:white;*/
	border:0.1px solid grey;
}

.grid-first-five{
	position:absolute;
	/*background:linear-gradient(white,blue);*/
	top:80%;
	left:0;
	/*opacity:0.3;*/
	background:url("test.png");
	background-position: 0% 84%;
	/*background-color:white;*/
	border-top:0.1px solid grey;

}


.grids-second{
	/*background:linear-gradient(white,blue);*/
	width:100%;
	height:20vh;
	margin:0px;
	padding:0px;
	/*background-color:white;*/

}

.grid-second-one{
	position:relative;
	/*background:linear-gradient(white,blue);
	opacity:0.3;*/
	top:0;
	left:0;
	background:url("test2.png");

}

.grid-second-two{
	position:relative;
	/*background:linear-gradient(white,blue);*/
	top:20%;
	left:0;
	/*opacity:0.3;*/
	background:url("test2.png");
	background-position:0% 19.5%;	
}

.grid-second-three{
	position:relative;
	/*background:linear-gradient(white,blue);*/
	top:40%;
	left:0;
	/*opacity:0.3;*/
	background:url("test2.png");
	background-position:0% 39%;	
}

.grid-second-four{
	position:relative;
	/*background:linear-gradient(white,blue);*/
	top:60%;
	left:0;
	/*opacity:0.3;*/
	background:url("test2.png");
	background-position:0% 58.5%;
}

.grid-second-five{
	position:relative;
	/*background:linear-gradient(white,blue);*/
	top:80%;
	left:0;
	/*opacity:0.3;*/
	background:url("test2.png");
	background-position:0% 78%;
}


.grids-third{
	/*background:linear-gradient(white,blue);*/
	width:100%;
	height:20vh;
	margin:0px;
	padding:0px;
	/*background-color:white;*/
}

.grid-third-one{
	position:relative;
	/*background:linear-gradient(white,blue);
	opacity:0.3;*/
	top:0;
	left:0;
	background-color:green;
	
}

.grid-third-two{
	position:relative;
	/*background:linear-gradient(white,blue);*/
	top:20%;
	left:0;
	/*opacity:0.3;*/
	background-color:green;
}

.grid-third-three{
	position:relative;
	/*background:linear-gradient(white,blue);*/
	top:40%;
	left:0;
	/*opacity:0.3;*/
	background-color:green;
}

.grid-third-four{
	position:relative;
	/*background:linear-gradient(white,blue);*/
	top:60%;
	left:0;
	/*opacity:0.3;*/
	background-color:green;
}

.grid-third-five{
	position:relative;
	/*background:linear-gradient(white,blue);*/
	top:80%;
	left:0;
	/*opacity:0.3;*/
	background-color:green;
}

.grids-fourth{
	/*background:linear-gradient(white,blue);*/
	width:100%;
	height:20vh;
	margin:0px;
	padding:0px;
	background-color:white;

}

.grid-fourth-one{
	position:relative;
	/*background:linear-gradient(white,blue);
	opacity:0.3;*/
	top:0;
	left:0;
	
}

.grid-fourth-two{
	position:relative;
	/*background:linear-gradient(white,blue);*/
	top:20%;
	left:0;
	/*opacity:0.3;*/
	
}

.grid-fourth-three{
	position:relative;
	/*background:linear-gradient(white,blue);*/
	top:40%;
	left:0;
	/*opacity:0.3;*/
	
}

.grid-fourth-four{
	position:relative;
	/*background:linear-gradient(white,blue);*/
	top:60%;
	left:0;
	/*opacity:0.3;*/
	
}

.grid-fourth-five{
	position:relative;
	/*background:linear-gradient(white,blue);*/
	top:80%;
	left:0;
	/*opacity:0.3;*/
	
}

.main-first-content{
	position:absolute;
	width:100%;
	height:100%;
	left:0px;
	top:0px;
}

.main-second-back{
	position:absolute;
	left:-100vw;
	width:100%;	
}

.main-second-content{
	position:absolute;
	left:-100vw;
}


.main-third-back{
	position:absolute;
	left:-100vw;	
	width:100%;
}

.main-third-content{
	position:absolute;
	left:-100vw;
}


.main-fourth-back{
	position:absolute;
	left:-100vw;	
	width:100%;
}

.main-fourth-content{
	position:absolute;
	left:-100vw;
}



.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-y: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    height:55%;
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.tab-bttn{
	position:relative;
	top:10%;
	left:80%;
}

.message-input{
	position:absolute;
	top:80%;
	left:40%;
}

#submit_btn{
	position: absolute;
	top:70%;
	left:102%;
}

.likes {
	-moz-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	box-shadow:inset 0px 1px 0px 0px #f9eca0;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #f2ab1e) );
	background:-moz-linear-gradient( center top, #f0c911 5%, #f2ab1e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#f2ab1e');
	background-color:#f0c911;
	-webkit-border-top-left-radius:37px;
	-moz-border-radius-topleft:37px;
	border-top-left-radius:37px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:37px;
	-moz-border-radius-bottomright:37px;
	border-bottom-right-radius:37px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #e65f44;
	display:inline-block;
	color:#c92200;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:29px;
	line-height:29px;
	width:77px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ded17c;
	margin-top:5px;
}

.likes:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2ab1e), color-stop(1, #f0c911) );
	background:-moz-linear-gradient( center top, #f2ab1e 5%, #f0c911 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#f0c911');
	background-color:#f2ab1e;
}.likes:active {
	position:relative;
	top:1px;
}

.ind-exp{
	background-color:white;
	width:75%;
	position:absolute;
	left:12.5%;

}

.w3-display-left{
	position: absolute;
    top: 25%;
    left: 0%;
}

.w3-display-right{
	position: absolute;
    top: 25%;
    right: 0%;
}